.container_menu {
  width: 70%;
  height: auto;
  padding-bottom: 100px;
  margin-bottom: 50px;
  background-image: url("../images//background-slider.png");
  opacity: 0.8;
  position: relative;
  z-index: 1;
}

.logo_chef {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container_item_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
}

.slick-slider .slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-next {
  right: 150px !important;
}
.slick-prev {
  left: 150px !important;
}
.slick-prev,
.slick-next {
  position: fixed !important;
  top: 300px !important;
  /* top: 40px !important; */
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: #888888 !important;
}

.item_menu {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-bottom: 10px;
}
.container_price {
  width: auto;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}

.container_menu .title_menu {
  letter-spacing: 3.5px;
}

.title_menu h1 {
  text-transform: uppercase;
  line-height: 2;
  font-weight: normal;
  margin-block-end: 0.2em;
  text-align: center;
}
.item_menu .title_food {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.item_menu .food_description {
  font-size: 13px;
  color: #888888;
  letter-spacing: 0;
  margin-block-start: 0;
}
.subtitle_menu {
  text-transform: uppercase;
  line-height: 2;
  margin-block-end: 0.2em;
  text-align: center;
  margin: 0 25px 25px 25px;
  text-align: center;
  font-size: 20px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media (max-width: 1204px) {
  .slick-next {
    right: 80px !important;
  }
  .slick-prev {
    left: 80px !important;
  }
}

@media (max-width: 768px) {
  .container_menu .title_menu {
    margin-top: 0px;
  }
  .container_price {
    font-size: 13px;
  }
  .title_menu h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .item_menu .title_food {
    font-size: 14px;
  }
  .item_menu .food_description {
    font-size: 10px;
    line-height: 1.6;
  }

  .slick-next {
    right: 70px !important;
  }
  .slick-prev {
    left: 70px !important;
  }
  .slick-prev,
  .slick-next {
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
  }
  .subtitle_menu {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .container_menu {
    padding-bottom: 0px;
    margin: 10px 0 20px 0;
  }
  .container_price {
    font-size: 11px;
  }

  .logo_chef img {
    width: 25px;
    height: 25px;
  }
  .container_menu .title_menu {
    margin-top: 0px;
  }
  .title_menu h1 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .subtitle_menu {
    text-align: center;
    font-size: 13px;
  }
  .item_menu .title_food {
    font-size: 12px;
    letter-spacing: 1.5px;
  }
  .item_menu .food_description {
    font-size: 8px;
  }
  .slick-slider .slick-dots {
    display: none !important;
  }
  .slick-next {
    right: 20px !important;
  }
  .slick-prev {
    left: 20px !important;
  }
  .slick-prev,
  .slick-next {
    font-size: 30px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
  }
}

@media (max-width: 375px) {
  .item_menu .title_food {
    font-size: 9px;
  }
  .item_menu .food_description {
    font-size: 7.5px;
  }
  .container_price {
    font-size: 9px;
  }
  .slick-next {
    right: 15px !important;
  }
  .slick-prev {
    left: 15px !important;
  }
  .slick-prev,
  .slick-next {
    font-size: 20px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 25px !important;
  }
  .subtitle_menu {
    text-align: center;
    font-size: 12px;
  }
}
